@import "~@fortawesome/fontawesome-free/css/all.css";
  
  .cards {
   padding:20px;
   border-radius:20px;
   color:black;
   box-shadow:0px 0px 20px;
  }
  .btn-secondary {
   border:1px solid blue;
   color:blue;
   background-color:white;
   margin-right:auto;
   margin-left:auto;
   width:100%;
  }
  .btn-secondary:hover {
   color:white;
   background-color:blue;
  }
  small {
   padding:10px;
  }
  button {
   margin:10px;
  }
  .people-list ul {
    color:white;
   width:100%;
   text-align:right;
   margin-top:15px;
  }
  .people-list ul li {
   padding:0px 20px 0px 20px;
   display:inline-block;
   transition:1s;
   font-family: 'Times New Roman', Times, serif;
   text-transform:uppercase;
   cursor:pointer;
   margin:0px 10px 0px 10px;
   padding:10px;
   border-radius:10px;

  }
  .people-list ul li:hover {
  color:grey;
  }
  @media only screen and (max-width:768px) {
    .people-list ul {
      width:100%;
      text-align:center;;
    }
    .people-list ul li {
       padding:10px;
        display: block;
        transition:0s;
        margin:10px;
    }
    .people-list ul li:hover {
        background-color:rgb(29, 28, 28);
        padding:10px;
        color:white;
        text-decoration:none;
    }
    
   }
  img {
   width:100px;
  }
 
  .cards {
    margin-top:30px; 
    box-shadow:0px 0px 10px;
    border-radius:10px;
    padding:20px;
    text-align: center;
  }
  .cards label {
    font-size:18px;
    color:rgb(80, 75, 75);
    text-transform:uppercase;
  }
  .btn-primary{
    border-radius:50px;
    background-color: white;
    color:black;
  }
  .btn-primary:hover {
    background-color: black;
    color:white;
  }
  .footer {
   margin-top:30px;
  width:100%;
 
 }
 .footer-main-div{
   width:100%;
   height:auto;
   margin:auto;
  
   padding:20px 0px;
 }
 .footer-social-icons {
   width:100%;
   height: auto;
 
 }
 .footer-social-icons ul {
   margin:0px;
   padding:0px;
   text-align: center;
   list-style-type:none;
 }
 .footer-social-icons ul li {
   display: inline-block;
   width:50px;
   height:50px;
   margin:0px 10px;
   border-radius:100%;
   cursor: pointer;
 }
 .footer-social-icons ul li a {
   font-size:25px;
   color:gray;
 }
 .footer-social-icons ul li a i {
   line-height: 30px;
 }
 .footer-social-icons ul li a i:hover{
    color:black;
 }
 .footer-social-icons p {
   color:gray;
   text-align: center;
 }
 .display {
  color:blue;
  text-align: center;
  text-transform:capitalize;
  font-size:20px;
}
.jumbotron-fluid {
  margin-top:20px;
  border-radius:20px;
  background:white;
  box-shadow:0px 0px 5px black;
}
.loader {
  text-align: center;
  border-left:3px solid black;
  border-right:3px solid black;
  border-bottom:3px solid white;
  border-top:3px solid white;
  border-radius:30px;
  width:30px;
  margin-left:auto;
  margin-right: auto;
  height:30px;
  animation:rotate 1s infinite linear;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
} 